body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 20px;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

.widget {
  margin: 0 auto;
  width: 375px;
  min-height: 400px;
  padding: 20px;
  box-sizing: border-box;

  font-weight: 400;
  /* border: 1px solid #495057; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.container {
  display: table;
  padding: 10px 15px 15px 15px;
  min-height: 300px;
  border: 1px solid #555;
  border-radius: 10px;
}

article {
  min-height: 50px;
  min-width: 312px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}

svg {
  display: block;
  width: 50px;
  height: 50px;
}

p {
  width: 79%;
  line-height: 25px;
  font-weight: 300;
  margin: 0px 0 0 14px;
  background-color: #fff;
}

h4 {
  margin: 5px 1px 0;
  min-height: 20px;
  max-width: 75%;
}

.stub p, .stub h4 {
  background-color: #495057;
  background-image: url('../paragraph-bg.png');
  transition: all 1s linear;
}

.paragraph {
  width: 250px;
  background-color: #eee;
  height: 25px;
  margin-left: 10px;
}

.hidden {
  display: none;
}

.modal {
  border: 1px solid #495057;
  width: 400px;
  padding: 30px 47px;
  margin: 0 20px;
}

.modal input {
  margin: 5px 0;
}